
$theme-colors: (
  
  "primary-lt": #CDF7F6,
  'primary-md': #8FB8DE,
  "primary-dk": #95A6CD,

  "accent-lt": #9A94BC,
  'accent-md': #9B72A8,
  'accent-dk': #835878,

  "white": #fff,
  "black": #000,

  "danger": #ff4136,
  "confirm": #198754

);


$container-max-widths: (
  xxl: 1440px
);

$spacers:(
  0: 0px,
  1: 10px,
  2: 20px,
  3: 30px,
  4: 40px,
  5: 50px,
  6: 60px,
  7: 70px,
  8: 80px,
  9: 90px,
  10: 100px,
);

$gutters: (
  0: 0px,
  1: 10px,
  2: 20px,
  3: 30px,
  4: 40px,
  5: 50px,
);

$grid-gutter-width: 40px; // this ends up divided by 2 cuz bootstrap


$input-padding-y: 15px;
$input-padding-x: 15px;


$grid-breakpoints: (
  none: 0,
  xs: 320px,
  sm: 540px,
  md: 768px,
  lg: 1040px,
  xl: 1200px,
  xxl: 1440px
);

$enable-negative-margins: true;

$enable-cssgrid: true;

$utilities: (

  "columns": (
    property: columns,
    class: columns,
    css-var: true,
    responsive: true, 
    values: (
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      6: 6,
      7: 7,
      8: 8,
    ),
  ),

);


$input-focus-box-shadow: transparent;
$transition-collapse: none;

$btn-active-bg-shade-amount: 50%;
$btn-border-width:  2px;