@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css";

@import "./_mixins";
@import "./_typography";
@import "./_loading";
@import "./_ux";
@import "./_vue";
 